.container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #706D54;
}

.conteudo{
  color:black;
  background-color: #706D54;
  margin-top: 15px;
}

.conteudo a strong{
  color: black;
  background-color: #706D54;
}
.conteudo a {
  color: black;
  background-color: #706D54;
}

.conteudo label strong{
  background-color: #706D54;
}

.conteudo h1 strong{
  background-color: #706D54;
}

.conteudo h1{
  background-color: #706D54;
}

.conteudo h2 {
  background-color: #706D54;
}

.conteudo h2 strong {
  background-color: #706D54;
}

.bibi-whatsapp{
  background-color: #706D54;
  height: 30px;
  width: 30px;
  margin-right: 15px;
}

.bibi-envelope{
  background-color: #706D54;
  height: 30px;
  width: 30px;
  margin-right: 15px;
}