.container{
    background-color: #706D54;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo{
    background-color: #706D54; 
}
.conteudo h1 strong{
    background-color: #706D54;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo p strong{
    background-color: #706D54; 
    border: none;
}

.conteudo p{
    background-color: #706D54; 
    border: none;
}