.container{
    background-color: #706D54;
}




.conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    background-color: #706D54;
}

.titulo strong {
    background-color: #706D54; 
}

.texto{
    background-color: #706D54;
}

.texto strong{
    background-color: #706D54;
}

.texto p{
    background-color: #706D54;
}

.texto strong br{
    background-color: #706D54;
}
