.controle{
    
}
    
.container{
    display: flex;
    align-items: center;
    justify-items: center;
}

.conteudo{
    list-style: decimal-leading-zero;
    
    flex-direction: column;
}
